
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #f5f5dc;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}